{% extends 'intranet/forpas/gestor/index.html.twig' %}

{% block title %}{{ curso ? 'Ediciones del Curso ' ~ curso.codigoCurso : titulo }}{% endblock %}

{% block content %}
    <div class="pagina-titulo">Portal del Gestor
        <a href="#" onclick="window.location.href='{{ path('intranet_forpas_gestor') }}';">
            <span class="mx-3 fa-solid fa-reply" title="Volver"></span>
        </a>
    </div>

    <div class="pagina-seccion">
        {{ curso ? titulo  ~ ' ' ~ curso.codigoCurso : 'Listado de Ediciones' }}
    </div>

    {% if curso is null %}
        <div class="mb-4">
            <form id="filterForm" method="get" action="{{ path('intranet_forpas_gestor_edicion_index') }}">
                <div class="form-group row">
                    <label for="yearSelect" class="col-sm-2 ps-0 text-sm-end fw-bold">Seleccionar año a consultar:</label>
                    <div class="col-sm-9 py-3 bg-secondary bg-opacity-25 border-start border-4 border-secondary">
                        <select id="yearSelect" name="year" class="form-select" onchange="document.getElementById('filterForm').submit();">
                            {% set current_year = "now"|date("Y") %}
                            {% for i in range(current_year + 1, current_year - 4) %}
                                <option value="{{ i }}" {% if i == year %}selected{% endif %}>{{ i }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </form>
        </div>
    {% endif %}

    <table class="tabla-condensada" id="datosEdiciones">
        <thead class="cabecera-condensada">
        <tr>
            <th>Código</th>
            <th>Nombre curso</th>
            <th>Fecha inicio</th>
            <th>Fecha fin</th>
            <th>Lugar</th>
            <th>Horas</th>
            <th>Max. participantes</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% for edicion in ediciones %}
            <tr>
                <td>{{ edicion.codigoEdicion }}</td>
                <td>{{ edicion.curso.nombreCurso }}</td>
                <td class="text-center">{{ edicion.fechaInicio ? edicion.fechaInicio|date('Y-m-d') : '' }}</td>
                <td class="text-center">{{ edicion.fechaFin ? edicion.fechaFin|date('Y-m-d') : '' }}</td>
                <td>{{ edicion.lugar }}</td>
                <td class="text-center">{{ edicion.curso.horas }}</td>
                <td class="text-center">{{ edicion.maxParticipantes }}</td>
                <td>{{ edicion.estado | edicionEstadoTexto }}</td>
                <td>
                    <a href="{{ path('intranet_forpas_gestor_edicion_show', {'id': edicion.id}) }}"><span class="mx-1 fas fa-eye" title="Ver"></span></a>
                    <a href="{{ path('intranet_forpas_gestor_edicion_edit', {'id': edicion.id}) }}"><span class="mx-1 fas fa-edit" title="Editar"></span></a>
                    {{ include('intranet/forpas/gestor/edicion/_delete_form.html.twig', { 'id': edicion.id, 'buttonType': 'inline' }) }}
                    <a href="{{ path('intranet_forpas_gestor_participante_edicion_index', {'edicionId': edicion.id}) }}">
                        <span class="mx-1 fas fa-users-between-lines" title="Participantes"></span></a>
                    {% if edicion.codigoEdicion ends with '/00' == false %}
                        <a href="{{ path('intranet_forpas_gestor_formador_edicion_index', {'edicionId': edicion.id}) }}">
                            <span class="mx-1 fas fa-user" title="Formadores"></span></a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td>No existen ediciones para el curso seleccionado</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block botones %}
    {% if curso %}
        <li class="nav-item me-2">
            <a class="btn btn-primary" href="#"
               onclick="window.location.href='{{ path('intranet_forpas_gestor_curso_index') }}';">
                <span class="fas fa-reply"></span> Volver
            </a>
        </li>

        <li class="nav-item me-2">
            <a class="btn btn-primary" href="{{ path('intranet_forpas_gestor_edicion_new', {'cursoId': curso.id}) }}">
                <span class="fas fa-plus"></span> Crear edición
            </a>
        </li>
    {% endif %}
{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="module">
        $(function () {
            $('#datosEdiciones').dataTable({
                buttons: [
                    {
                        extend: 'copy',
                        text: '<i class="fas fa-copy"></i>',
                        titleAttr: 'Copiar',
                    },
                    {
                        extend: 'print',
                        text: '<i class="fas fa-print"></i>',
                        titleAttr: 'Imprimir',
                    },
                    {
                        extend: 'csv',
                        text: '<i class="fas fa-file-csv"></i>',
                        titleAttr: 'Generar fichero CSV',
                    },
                    {
                        extend: 'excelHtml5',
                        text: '<i class="fas fa-file-excel"></i>',
                        titleAttr: 'Generar fichero Excel',
                    },
                ],
                dom: '<"row"<"col-sm-12 col-md-4"B><"col-sm-12 col-md-4"l><"col-sm-12 col-md-4"f>>' +
                    '<"row"<"col-sm-12"<"table-responsive"tr>>>' +
                    '<"row"<"col-sm-12 col-md-5"i><"col-sm-12 col-md-7"p>>',
                language: {
                    url: '{{ asset("includes/datatable.es.json") }}'
                },
            });
        });
    </script>
{% endblock %}
