{% extends 'intranet/forpas/gestor/index.html.twig' %}
{% block migas %}
    {{ parent() }}
    <li class="breadcrumb-item active" aria-current="page">{{ titulo }}</li>
{% endblock %}
{% block title %}{{ titulo }}{% endblock %}

{% block content %}
    <div class="pagina-titulo">Portal del Gestor</div>

    <div class="pagina-seccion">{{ titulo }}</div>

    {{ include('intranet/forpas/gestor/formador/_form.html.twig', {'button_label': 'Actualizar'}) }}
{% endblock %}