{{ form_start(form) }}
    {{ form_widget(form) }}
    <!-- Botón "Volver" -->
    <a class="btn btn-primary" href="#"
       onclick="window.location.href='{{ path('intranet_forpas_gestor_participante_edicion_index', {'edicionId': edicionId }) }}';">
        <span class="fas fa-reply"></span> Volver
    </a>
    <!-- Botón "Guardar" -->
    <button class="btn btn-primary">
        <span class="fas fa-save"></span> {{ button_label|default('Guardar') }}
    </button>
{{ form_end(form) }}