{% extends 'intranet/forpas/participante/index.html.twig' %}
{% block migas %}
    {{ parent() }}
    <li class="breadcrumb-item active" aria-current="page">Mis Datos</li>
{% endblock %}
{% block title %}{{ titulo }}{% endblock %}

{% block content %}
    <div class="pagina-titulo">Portal del Participante</div>

    <div class="pagina-seccion">{{ titulo }}</div>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <!-- Botón "Volver" -->
    <a class="btn btn-primary" href="{{ path('intranet_forpas_participante') }}">
        <span class="fas fa-reply"></span> Volver
    </a>
    <!-- Botón "Guardar" -->
    <button class="btn btn-primary">
        <span class="fas fa-save"></span> {{ button_label|default('Actualizar') }}
    </button>
    {{ form_end(form) }}
{% endblock %}
