{% extends 'intranet/forpas/participante/index.html.twig' %}

{% block migas %}
    {{ parent() }}
    <li class="breadcrumb-item active" aria-current="page">{{ titulo }}</li>
{% endblock %}

{% block title %}{{ titulo }}{% endblock %}

{% block content %}
    <div class="pagina-titulo">Portal del Participante</div>

    <div class="pagina-seccion">{{ titulo }}</div>

    <table class="tabla-condensada" id="datosProximasEdiciones">
        <thead class="cabecera-condensada">
            <tr>
                <th>C贸digo</th>
                <th>Nombre de la acci贸n formativa</th>
                <th>Fecha Inicio</th>
                <th>Fecha Fin</th>
                <th>Horario</th>
                <th>Acci贸n</th>
            </tr>
        </thead>
        <tbody>
        {% for edicion in proximasEdiciones %}
            <tr>
                <td>{{ edicion.codigoEdicion }}</td>
                <td>{{ edicion.curso.nombreCurso }}</td>
                <td class="text-center">{{ edicion.fechaInicio|date('Y-m-d') }}</td>
                <td class="text-center">{{ edicion.fechaFin|date('Y-m-d') }}</td>
                <td class="text-center">{{ edicion.horario }}</td>
                <td>
                    {{ edicion.getAccion(participante, urlGenerator)|raw }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td>No hay ediciones pr贸ximas disponibles.</td><td></td><td></td><td></td><td></td><td></td><td></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block botones %}
    <li class="nav-item me-2">
        <a class="btn btn-primary" href="{{ path('intranet_forpas_participante') }}">
            <span class="fas fa-reply"></span> Volver
        </a>
    </li>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="module">
        $(function () {
            $('#datosProximasEdiciones').dataTable({
                buttons: [
                    {
                        extend: 'copy',
                        text: '<i class="fas fa-copy"></i>',
                        titleAttr: 'Copiar',
                    },
                    {
                        extend: 'print',
                        text: '<i class="fas fa-print"></i>',
                        titleAttr: 'Imprimir',
                    },
                    {
                        extend: 'csv',
                        text: '<i class="fas fa-file-csv"></i>',
                        titleAttr: 'Generar fichero CSV',
                    },
                    {
                        extend: 'excelHtml5',
                        text: '<i class="fas fa-file-excel"></i>',
                        titleAttr: 'Generar fichero Excel',
                    },
                ],
                "aaSorting": [[2, "asc"]],
                dom: '<"row"<"col-sm-12 col-md-4"B><"col-sm-12 col-md-4"l><"col-sm-12 col-md-4"f>>' +
                    '<"row"<"col-sm-12"<"table-responsive"tr>>>' +
                    '<"row"<"col-sm-12 col-md-5"i><"col-sm-12 col-md-7"p>>',
                language: {
                    url: '{{ asset("includes/datatable.es.json") }}'
                },
            });
        });
    </script>
{% endblock %}
