{% extends 'intranet/forpas/formador/index.html.twig' %}
{% block migas %}
    {{ parent() }}
    <li class="breadcrumb-item">
        <a href="{{ path('intranet_forpas_formador_mis_ediciones') }}">Ediciones Asignadas</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">{{ edicion.codigoEdicion }}</li>
{% endblock %}
{% block title %}{{ titulo }}{% endblock %}
{% block content %}
    <div class="pagina-titulo">Portal del Formador</div>
    <div class="pagina-seccion">{{ titulo }}</div>

    <div class="container-fluid py-4 g-4">
        <div class="row py-2">
            <div class="fila-campo">Edición: </div>
            <div class="fila-valor">{{ edicion.codigoEdicion ~ ': ' ~ edicion.curso.nombreCurso }}</div>
        </div>
        <div class="row py-2">
            <div class="fila-campo">Calendario: </div>
            <div class="fila-valor">{{ edicion.calendario }}</div>
        </div>
        <div class="row py-2">
            <div class="fila-campo">Horario: </div>
            <div class="fila-valor">{{ edicion.horario }}</div>
        </div>
        <div class="row py-2">
            <div class="fila-campo">Lugar: </div>
            <div class="fila-valor">{{ edicion.lugar }}</div>
        </div>
        <div class="row py-2">
            <div class="fila-campo">Sesiones Grabadas / Totales: </div>
            <div class="fila-valor">
                {{ sesionesGrabadas ~ ' / ' ~ edicion.sesiones }}
                {% if sesionesGrabadas == edicion.sesiones %}
                    <sup class="text-success fas fa-check"></sup>
                {% else %}
                    <sup class="text-danger fas fa-times"></sup>
                {% endif %}
            </div>
        </div>
        <div class="row py-2">
            <div class="fila-campo">Horas Grabadas / Totales: </div>
            <div class="fila-valor">
                {{ (horasGrabadas // 60) }}h
                {% if (horasGrabadas % 60) > 0 %}
                    {{ ' ' ~ (horasGrabadas % 60) ~ 'm ' }}
                {% else %}
                    {{ ' ' }}
                {% endif %}
                / {{ edicion.curso.horas }}h
                {% if (horasGrabadas // 60) == edicion.curso.horas %}
                    <sup class="text-success fas fa-check"></sup>
                {% else %}
                    <sup class="text-danger fas fa-times"></sup>
                {% endif %}
            </div>
        </div>
        <div class="row py-2">
            <div class="fila-campo">Virtuales Grab / V. Totales: </div>
            <div class="fila-valor">
                {{ (horasVirtualesGrabadas // 60) }}h
                {% if (horasVirtualesGrabadas % 60) > 0 %}
                    {{ ' ' ~ (horasVirtualesGrabadas % 60) ~ 'm ' }}
                {% else %}
                    {{ ' ' }}
                {% endif %}
                / {{ edicion.curso.horasVirtuales }}h
                {% if (horasVirtualesGrabadas // 60) == edicion.curso.horasVirtuales %}
                    <sup class="text-success fas fa-check"></sup>
                {% else %}
                    <sup class="text-danger fas fa-times"></sup>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="pagina-seccion">Sesiones Creadas</div>
    <table class="tabla-condensada" id="datosSesiones">
        <thead class="cabecera-condensada">
        <tr>
            <th>Fecha</th>
            <th>Hora Inicio</th>
            <th>Duración</th>
            <th>Tipo de Sesión</th>
            <th>Asistentes</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% for sesion in edicion.sesionesEdicion %}
            {% set horas = sesion.duracion // 60 %}
            {% set minutos = sesion.duracion % 60 %}
            <tr>
                <td>{{ sesion.fecha|date('d-m-Y') }}</td>
                <td>{{ sesion.horaInicio|date('H:i') }}</td>
                <td>
                    {{ horas }}h
                    {% if minutos > 0 %}
                        {{ minutos }}m
                    {% endif %}
                </td>
                <td>{% if sesion.tipo == 0 %}Presencial{% else %}Virtual{% endif %}</td>
                <td>{{ 0 ~ ' / ' ~ edicion.participantesEdicion|length }}</td>
                <td>
                    <a href="{{ path('intranet_forpas_formador_sesion_edit', {'id': sesion.id}) }}" title="Editar">
                        <span class="fas fa-edit"></span>
                    </a>
                    {{ include('intranet/forpas/formador/_delete_form.html.twig', { 'id': sesion.id, 'buttonType': 'inline' }) }}
                    {# <a href="{{ path('intranet_forpas_formador_sesion_fillIn', {'id': sesion.id}) }}" title="Asistencia">
                        <span class="fas fa-eye"></span>
                    </a>

                    %}#}
                </td>
            </tr>
        {% else %}
            <tr>
                <td>No hay sesiones creadas.</td><td></td><td></td><td></td><td></td><td></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block botones %}
    {% if sesionesGrabadas < edicion.sesiones and horasGrabadas < edicion.curso.horas %}
        <li class="nav-item me-2">
            <a class="btn btn-primary" href="{{ path('intranet_forpas_formador_sesion_new', {'edicionId': edicion.id}) }}">
                <span class="fas fa-plus"></span> Crear Sesión
            </a>
        </li>
    {% endif %}
    {#
        Este botón llamaría a un método que pondría el estado de la edición a 1 y contendría la lógica
        para comprobar asistencia y notas, en su caso, para certificar a los participantes.

        {% if sesionesGrabadas == edicion.sesiones AND horasGrabadas == edicion.curso.horas
            <li class="nav-item me-2">
                <a class="btn btn-primary" href="{{ path('intranet_forpas_formador_remitir_datos', {'edicionId': edicion.id}) }}">
                    <span class="fas fa-plus"></span> Remitir Datos
                </a>
            </li>
        %}
    #}
{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="module">
        $(function () {
            $('#datosSesiones').dataTable({
                buttons: [
                    {
                        extend: 'copy',
                        text: '<i class="fas fa-copy"></i>',
                        titleAttr: 'Copiar',
                    },
                    {
                        extend: 'print',
                        text: '<i class="fas fa-print"></i>',
                        titleAttr: 'Imprimir',
                    },
                    {
                        extend: 'csv',
                        text: '<i class="fas fa-file-csv"></i>',
                        titleAttr: 'Generar fichero CSV',
                    },
                    {
                        extend: 'excelHtml5',
                        text: '<i class="fas fa-file-excel"></i>',
                        titleAttr: 'Generar fichero Excel',
                    },
                ],
                dom: '<"row"<"col-sm-12 col-md-4"B><"col-sm-12 col-md-4"l><"col-sm-12 col-md-4"f>>' +
                    '<"row"<"col-sm-12"<"table-responsive"tr>>>' +
                    '<"row"<"col-sm-12 col-md-5"i><"col-sm-12 col-md-7"p>>',
                language: {
                    url: '{{ asset("includes/datatable.es.json") }}'
                },
            });
        });
    </script>
{% endblock %}