{% extends '/intranet/forpas/index.html.twig' %}
{% block migas %}
    <li class="breadcrumb-item"><a href="{{ path('intranet_forpas') }}"><i class="fas fa-home"></i> Servicio de Formación</a></li>
    <li class="breadcrumb-item active" aria-current="page">Portal del Gestor</li>
{% endblock %}
{% block title %}{{ titulo }}{% endblock %}
{% block content %}
    <div class="pagina-titulo">Portal del Gestor</div>

    <div class="pagina-seccion">{{ titulo }}</div>
    <ul>
        <li><a href="{{ path('intranet_forpas_gestor_curso_index') }}">Gestionar cursos</a></li>
        {% if ediciones %}
            <li><a href="{{ path('intranet_forpas_gestor_edicion_index') }}">Gestionar ediciones</a></li>
        {% endif %}
        <li><a href="{{ path('intranet_forpas_gestor_participante_index') }}">Gestionar participantes</a></li>
        <li><a href="{{ path('intranet_forpas_gestor_formador_index') }}">Gestionar formadores</a></li>
    </ul>
{% endblock %}
