{% extends 'intranet/forpas/gestor/index.html.twig' %}
{% block migas %}
    {{ parent() }}
    <li class="breadcrumb-item active" aria-current="page">{{ titulo }}</li>
{% endblock %}
{% block title %}{{ titulo }}{% endblock %}

{% block content %}
    <div class="pagina-titulo">Portal del Gestor</div>

    <div class="pagina-seccion">{{ titulo }}</div>

    <div class="mb-4">
        <form id="filterForm" method="get" action="{{ path('intranet_forpas_gestor_curso_index') }}">
            <div class="form-group row">
                <label for="yearSelect" class="col-sm-2 ps-0 text-sm-end fw-bold">Seleccionar año a consultar:</label>
                <div class="col-sm-9 py-3 bg-secondary bg-opacity-25 border-start border-4 border-secondary">
                    <select id="yearSelect" name="year" class="form-select" onchange="document.getElementById('filterForm').submit();">
                        {% set current_year = "now"|date("Y") %}
                        {% for i in range(current_year + 1, current_year - 4) %}
                            <option value="{{ i }}" {% if i == year %}selected{% endif %}>{{ i }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </form>
    </div>

    <table class="tabla-condensada" id="datosCursos">
        <thead class="cabecera-condensada">
            <tr>
                <th>Codigo</th>
                <th>Nombre</th>
                <th class="text-center">Horas totales</th>
                <th class="text-center">Horas virtuales</th>
                <th>Evaluable</th>
                <th class="text-center">Ediciones estimadas</th>
                <th class="text-center">Participantes por edicion</th>
                <th class="text-center">Visible web</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for curso in cursos %}
            <tr>
                <td class="text-center">{{ curso.codigoCurso }}</td>
                <td>{{ curso.nombreCurso }}</td>
                <td class="text-center">{{ curso.horas }}</td>
                <td class="text-center">
                    {% if curso.horasVirtuales %}
                        {{ curso.horasVirtuales }}
                    {% else %}
                        <sup class="text-danger fas fa-times"></sup>
                    {% endif %}
                </td>
                <td class="text-center">
                    {% if curso.calificable %}
                        <sup class="text-success fas fa-check"></sup>
                    {% else %}
                        <sup class="text-danger fas fa-times"></sup>
                    {% endif %}
                </td>
                <td class="text-center">{{ curso.edicionesEstimadas }}</td>
                <td class="text-center">{{ curso.participantesEdicion }}</td>
                <td class="text-center">
                    {% if curso.visibleWeb %}
                        <sup class="text-success fas fa-check"></sup>
                    {% else %}
                        <sup class="text-danger fas fa-times"></sup>
                    {% endif %}
                </td>
                <td class="text-center">
                    <div class="d-flex justify-content-center align-items-center gap-2">
                        <a href="{{ path('intranet_forpas_gestor_curso_show', {'id': curso.id}) }}" title="Ver">
                            <span class="fas fa-eye"></span>
                        </a>
                        <a href="{{ path('intranet_forpas_gestor_curso_edit', {'id': curso.id}) }}" title="Editar">
                            <span class="fas fa-edit"></span>
                        </a>
                        {{ include('intranet/forpas/gestor/curso/_delete_form.html.twig', { 'id': curso.id, 'buttonType': 'inline' }) }}
                        <a href="{{ path('intranet_forpas_gestor_edicion_index', {'cursoId': curso.id}) }}" title="Ver Ediciones">
                            <span class="fas fa-list"></span>
                        </a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td>No existen cursos</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block botones %}
    <li class="boton-inferior nav-item me-2">
        <a class="btn btn-primary" href="{{ path('intranet_forpas_gestor_curso_new') }}">
            <span class="fas fa-plus"></span> Crear curso
        </a>
    </li>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="module">
        $(function () {
            $('#datosCursos').dataTable({
                buttons: [
                    {
                        extend: 'copy',
                        text: '<i class="fas fa-copy"></i>',
                        titleAttr: 'Copiar',
                    },
                    {
                        extend: 'print',
                        text: '<i class="fas fa-print"></i>',
                        titleAttr: 'Imprimir',
                    },
                    {
                        extend: 'csv',
                        text: '<i class="fas fa-file-csv"></i>',
                        titleAttr: 'Generar fichero CSV',
                    },
                    {
                        extend: 'excelHtml5',
                        text: '<i class="fas fa-file-excel"></i>',
                        titleAttr: 'Generar fichero Excel',
                    },
                ],
                dom: '<"row"<"col-sm-12 col-md-4"B><"col-sm-12 col-md-4"l><"col-sm-12 col-md-4"f>>' +
                    '<"row"<"col-sm-12"<"table-responsive"tr>>>' +
                    '<"row"<"col-sm-12 col-md-5"i><"col-sm-12 col-md-7"p>>',
                language: {
                    url: '{{ asset("includes/datatable.es.json") }}'
                },
            });
        });
    </script>
{% endblock %}

