{% extends 'intranet/_index_aplicacion_generico.html.twig' %}

{% block title %}{{ titulo }}{% endblock %}

{% block content %}
    <div class="pagina-seccion">{{ titulo }}</div>

    {{ form_start(registrationForm) }}

    <!-- Renderizar todos los campos del formulario -->
    {{ form_widget(registrationForm) }}

    <!-- Botón "Volver" -->
    <a class="btn btn-primary" href="{{ path('intranet') }}">
        <span class="fas fa-reply"></span> Volver
    </a>
    <!-- Botón "Guardar" -->
    <button type="submit" class="btn btn-primary">
        <span class="fas fa-save"></span> {{ button_label|default('Registrar') }}
    </button>
    {{ form_end(registrationForm) }}
{% endblock %}