{% extends '../../base.html.twig' %}

{% block title %}Curso index{% endblock %}

{% block body %}
    <h1>Curso index</h1>
    {% for message in app. flashes( 'success') %}
        <div class="alert alert-success">
            ｛｛ message ｝}
        </div>
    {% endfor %}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Codigo_curso</th>
                <th>Nombre_curso</th>
                <th>Horas</th>
                <th>Objetivos</th>
                <th>Contenidos</th>
                <th>Destinatarios</th>
                <th>Requisitos</th>
                <th>Justificacion</th>
                <th>Coordinador</th>
                <th>Participantes_edicion</th>
                <th>Ediciones_estimadas</th>
                <th>Plazo_solicitud</th>
                <th>Observaciones</th>
                <th>Visible_web</th>
                <th>Horas_virtuales</th>
                <th>Calificable</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for curso in cursos %}
            <tr>
                <td>{{ curso.id }}</td>
                <td>{{ curso.codigoCurso }}</td>
                <td>{{ curso.nombreCurso }}</td>
                <td>{{ curso.horas }}</td>
                <td>{{ curso.objetivos }}</td>
                <td>{{ curso.contenidos }}</td>
                <td>{{ curso.destinatarios }}</td>
                <td>{{ curso.requisitos }}</td>
                <td>{{ curso.justificacion }}</td>
                <td>{{ curso.coordinador }}</td>
                <td>{{ curso.participantesEdicion }}</td>
                <td>{{ curso.edicionesEstimadas }}</td>
                <td>{{ curso.plazoSolicitud }}</td>
                <td>{{ curso.observaciones }}</td>
                <td>{{ curso.visibleWeb ? 'Yes' : 'No' }}</td>
                <td>{{ curso.horasVirtuales }}</td>
                <td>{{ curso.calificable ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_curso_show', {'id': curso.id}) }}">show</a>
                    <a href="{{ path('app_curso_edit', {'id': curso.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="19">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_curso_new') }}">Create new</a>
{% endblock %}
